.form{
    margin: 1rem;
    
}
.title{
    text-align: center;
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.input{
    margin-bottom: 1.5rem;
    background: var(--tg-theme-secondary-bg-color) !important;  
    color: var(--tg-theme-text-color) !important;
    width: 100%;
}




