.form{
    margin: 1rem;
    
}
.title{
    text-align: center;
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.input{
    /* color: var(--tg-theme-text-color); */
    color: red;
    border: 1px solid ;
    border-radius: var(--border-radius-input);
    padding: 0.5rem 1rem;
    font-size: var(--fz-normal);
    margin : 1rem 0 
    
}
input{
    width: 100%;
}
.textField__text{
    color: aliceblue !important;
}



