.form{
    margin: 1rem;
    
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.input{
    color: var(--tg-theme-text-color);
}
.title{
    text-align: center;
}


