.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--tg-theme-text-color);
}
.flex_box{
    display: flex;
    align-items: center;
    text-align: center;

}
.close {
}.username{
    background: inherit;
    color: inherit;
}
.cross{    
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}